[core]
  editor = code --wait
  autocrlf = input
	excludesfile = ~/.gitignore

[help]
  autocorrect = 1

[alias]
  st = status -sb
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  ci = commit
  up = pull
  di = diff
  br = branch
  dt = difftool

  tags = tag -l
  branches = branch -a
  remotes = remote -v

  amend = !git add . && git ci --amend --no-edit
  undo = reset HEAD~1 --soft

  # Pretty log for current branch
  lol = log --graph --decorate --pretty=oneline --abbrev-commit

  # Pretty log for all branches
  hist = log --pretty=format:'%C(yellow)%h%C(reset) %ad | %C(75)%s%C(reset) %C(yellow)%d%C(reset) [%an]' --graph --date=short --branches --all

  # Get hash of latest commit
  hash = show -s --format=%H

  save = !git add -A && git commit -m "SAVEPOINT"

[color]
  ui = auto
  interactive = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge --skip %f
  process = git-lfs filter-process --skip
  required = true
[hub]
  host = github.yandex-team.ru
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
